body{
  background: url('images/trail-product.jpg') no-repeat center center fixed;
  background-size: cover;
}


h1 {
  color: white;
  font-family: "Helvetica";
  font-weight: bolder;
  margin-bottom: 10%;
  font-size: 90px;
  line-height: 80%;
  text-shadow: 5px 5px black;
  text-align: center;
  display: block;
}

.button{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: -60px;
}

.button a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 60%;
  font-size: 150px;
  text-shadow: 5px 5px black;
  text-align: center;
  display: block;

}

a:hover{
  color: tomato;
  transition-duration: 70ms;
  
}
a {
  text-decoration: none;
}


ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;


}

li {
  
    color: black;
    float: right;
    font-weight: bold;
    margin: 20px;
    padding: 5px;

}
 